body {
    font-family: Raleway-light;
}

@font-face {
    font-family: Raleway-light;
    src: url(../assets/Raleway/static/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(/assets/Raleway/static/Raleway-SemiBold.ttf);
}


ul > li {
    list-style-type: none;
}

.navbar-container {
    position: absolute;
    width: 100%;
    margin: 0;
}

.navbar-menu {
    display: flex;
}

.nav-link:hover {
    color: #a0a5a3;
}

.nav-link.active {
    border-bottom: 2px solid #a3a2a2;
}

.nav-link .badge {
    top: -12px;
    left: -8px;
    color: black;
    position: relative;
}

.heading-container {
    background-image: url(../assets/img/slider_1.jpg.webp);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-slider-content {
    width: 60%;
    padding-top: 150px;
    padding-left: 50px;
}

.main-slider-content h1 {
    font-family: Raleway-bold;
    font-size: 80px;
}

.main-slider-content .btn {
    border: 0;
    padding: 14px;
    transition: 0.5s;
    background: #a0a5a3;
    font-family: Raleway-Bold;
}

.main-slider-content .btn:hover {
    background: #ccc;
}

.card-footer .btn {
    font-size: 12px;
    border: 1px solid #afadad;
}

.card-footer .btn:hover {
    background: #ccc;
    color: black;
}

.newsletter {
    color: white;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.btn_check {
    padding: 4px 8px;
    background: #a0a5a3;
}

.btn_check:hover {
    background: #ccc;
}

@media (max-width: 1160px){
    .heading-container {
        width: 100%;
        height: 557px;
    }
    
    .main-slider-content {
        width: 50%;
    }
    
    .main-slider-content h1 {
        font-family: Raleway-bold;
        font-size: 51px;
    }
    
    .main-slider-content .btn {
        font-size: 14px;
    }
}

@media (max-width: 768px) { 
    .logo-container h4 {
        font-size: 18px;
    }
    .navbar-menu {
        display: none;
    }

    .navbar-menu li {
        font-size: 14px;
    }

    .heading-container {
        width: 100%;
        height: 557px;
    }

    .container .card.shadow {
        margin-bottom: 20px;
    }
    
    .main-slider-content {
        width: 50%;
    }
    
    .main-slider-content h1 {
        font-family: Raleway-bold;
        font-size: 40px;
    }
    
    .main-slider-content .btn {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .logo-container h4 {
        font-size: 18px;
    }

    .navbar-links-mobile {
        display: none;
    }

    .container .card.shadow {
        margin-bottom: 20px;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu li {
        font-size: 14px;
    }

    .heading-container {
        width: 100%;
        height: 465px;
    }
    
    .main-slider-content {
        width: 50%;
    }
    
    .main-slider-content h1 {
        font-family: Raleway-bold;
        font-size: 28px;
    }
    
    .main-slider-content .btn {
        font-size: 10px;
    }
}

@media (max-width: 460px) {
    .navbar-links-mobile {
        display: none;
    }

    .container .card.shadow {
        margin-bottom: 20px;
    }
}