body {
    font-family: Raleway-light;
}

@font-face {
    font-family: Raleway-light;
    src: url(/assets/Raleway/static/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(/assets/Raleway/static/Raleway-SemiBold.ttf);
}


ul > li {
    list-style-type: none;
}

.navbar-container {
    position: fixed;
    width: 100%;
    margin: 0;
}

.nav-link:hover {
    color: #a0a5a3;
}

.nav-link.active {
    border-bottom: 2px solid #a3a2a2;

}

.nav-link .badge {
    top: -12px;
    left: -8px;
    color: black;
    position: relative;
}

.breadcrumb {
    padding-top: 120px;
    font-size: 14px;
}

.breadcrumb-item {
    text-decoration: none;
    color: black;
}