body {
    font-family: Raleway-light;
}

@font-face {
    font-family: Raleway-light;
    src: url(/assets/Raleway/static/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(/assets/Raleway/static/Raleway-SemiBold.ttf);
}


ul > li {
    list-style-type: none;
}